<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

    <meta name="theme-color" content="#000000">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    {% include analytics_head.html %}
  </head>

  <body>
    <div id="bar"></div>
    <div class="wrapper-container">
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}" alt="{{ site.title }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p> 
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/getting-started">Topics/a>
              <a href="{{ site.baseurl }}/about">Organizers</a>
              <a href="{{ site.baseurl }}/archive">Important Dates</a>
              <a href="{{ site.baseurl }}/archive">Submission</a>
            </nav>
          </header>
        </div>
      </div>

      <div class="wrapper-main">
        <div id="main" role="main" class="container">
          <p>
           Natural language processing (NLP) is a branch of artificial intelligence that deals with the interaction between humans and computers using natural language. There is a growing body of research on natural language processing (NLP) and people with disabilities. This research is motivated by the fact that NLP can be used to enable people with disabilities in various ways. For example, NLP can be used to automatically generate captions for people who are deaf or hard of hearing. NLP can also be used to improve the usability of text-based interfaces for people with visual impairments. In addition, NLP can be utilized to help people with cognitive disabilities such as autism or dyslexia.
There are many challenges that need to be addressed in order to make NLP technologies more accessible to people with disabilities. The first challenge is that most NLP research is based on English, and there is a need for more research on other international languages. The second challenge is that NLP technologies are often designed for the able-bodied, and need to be re/adapted or re/designed to meet the needs of people with disabilities. Lastly, NLP technologies need effective evaluation methods and metrics to ensure that they are actually helpful for people with disabilities.
The future of NLP and disabilities is promising. As NLP technologies continue to be conceived, designed, and developed, it is necessary to promote universal design principles, accessibility and usability to better cater them for people with disabilities. Therefore, the aim of this workshop is to bring together researchers working at the crossroads of natural language processing and technology for people with disabilities to share their work, learned experiences and ideas. We believe that this workshop can offer this expert community a platform to facilitate collaborations across countries, continents and languages to both tackle existing limitations and innovate for the future.
Authors of selected papers from NLP4Disability will be invited to submit an extended and improved version to a Special Issue published in Nafath newsletter (ISSN: 2789-9144) indexed in DOAJ and Google Scholar (https://nafath.mada.org.qa). 
          </p>
        </div>
      </div>

      <div class="wrapper-footer">
        <div class="container">
          <footer class="footer">
            {% include svg-icons.html %}
          </footer>
        </div>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
